{% extends 'portfolio/base.html' %}
<!-- Use this to load static images anywhere on the page -->
{% load static %} 

{% block content %}

    <!-- <h1>SIDDHANTS PORTFOLIO</h1> -->


    <div class="row justify-content-center my-3">
        <div class="col-5">
            <img src="{% static 'portfolio/Siddhant_icon.jpg' %}" class="img-fluid" max-height="60%" >
        </div>
    </div>

    <h2 class="mt-5">Projects</h2>
    <hr>

    <div class="row">
        {% for project in projects %}
            <div class="col-lg-4 col-md-6">
          
                {% if project.url %}
                    <a href="{{ project.url }}" target="_blank">
                    <img src="{{ project.image.url }}" class="img-fluid mb-2">
                    </a>
                {% else %}
          
                    <img src="{{ project.image.url }}" class="img-fluid mb-2">
                {% endif %}
                <h3>{{ project.title }}</h3>
                <p>{{ project.description |safe }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}

